<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block pagetitle %}Availabilities {% endblock %}</title>
    <link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
</head>

{% block content %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/availabilities.js"></script>
{% endblock %}

</body>
</html>
