teams:

  cheese:
    name: Cheese

  salami:
    name: Salami

persons:

  blingblangblung@example.com:

    name: Bling Blang Blung
    role: Dev
    location: Zurich
    percentage: 100
    teams:
      cheese:
      salami:

  morgonfrooman@example.com:

    name: Morgon Frooman
    role: Scrum Master
    location: Lausanne
    percentage: 80
    teams:
      cheese:
      salami:

  bandaidfasli@example.com:

    name: Bandaid Fasli
    role: Dev
    location: Bern
    percentage: 100
    teams:
      cheese:
      salami:
