timezone: Europe/Zurich
dbPath: /fullpath/app.db

google:
  key: ************.apps.googleusercontent.com
  secret: ************************
  scope:
    - email
    - https://www.googleapis.com/auth/calendar.readonly
  user_endpoint: https://www.googleapis.com/oauth2/v1/userinfo
  cacheTtl: 1800
